html,body{height: initial!important}

body.app #wrap {
  max-width:1150px;
}

#wrap{
  min-height: calc(100vh - 6.55rem)!important;
  transition: margin .3s ease-out;
  margin-top:  -1.25rem!important;
}
body.dashboard #wrap{
  margin-top:  2.75rem!important;
}
.fullwidth.collapsed #wrap,
.fullwidth.collapsed #footer{
  margin-left: 0!important;
}
.container,
.container-fluid{
  height: 100%;
  margin-top: 4rem;
  padding-bottom: 2rem!important;
  box-sizing: border-box;
}
.dashboard #page-container{
  height: calc(100vh - 4rem)!important;
}



/* 
 * #sidebar above #wrap on narrow screens
 */
 body {
   padding: 0;
   margin: 0;
 }
 @media only screen and (min-width:870px) {
  .fullwidth.has-sidebar #wrap,
  .fullwidth.has-sidebar #footer {
    margin-left: 15.4rem!important;
  }
  .fullwidth.has-sidebar.collapsed #wrap,
  .fullwidth.has-sidebar.collapsed #footer {
    margin-left: 0px!important;
  }
  #sidebar {
    position: fixed;
  }
}