/*
 * Style Sheet
 *
 * e3top-menu		top dashboards menu
 * e3header			top header dashboards menu
 */

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background: none repeat scroll 0 0 #FBFBFB;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -37px;
}

.widget-container {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
  margin: 0px;
  padding: 20px;
}

.widget-container-nc {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
  float: left;
  margin: 0px;
  padding: 20px;
}

.widget-container-v {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
  width: 200px;
  float: left;
  margin-left: 20px;
  padding: 5px;
}

.widget-container-h {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
  height: 200px;
  margin: 0px;
  padding: 10px;
}

.widget {
  width: 200px;
  height: 200px;
  float: left;
  text-align: center;
  position: relative;
}

.title {
  width: 100%;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.title-left {

  padding: 12px;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

.dial {
  padding: 0px;
}

.led {
  padding: 0px;
}

.stats {
  width: 100%;
  height: 200px;
  padding: 0px;
  margin-top: 15px;
  text-align: center;
}

.value {
  color: #33a4d9;
  font-size: 22px;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 5px;
}

.widget_H {
  border: 1px solid #CCC;
  height: 200px;
  float: left;
  background-color: #eee;
  margin: 5px;
  padding: 5px;
}

.header {
  border: 1px solid #2A2A2A;
  background-color: #464646;
  background-image: -ms-linear-gradient(bottom,#373737,#464646 5px);
  background-image: -moz-linear-gradient(bottom,#373737,#464646 5px);
  background-image: -o-linear-gradient(bottom,#373737,#464646 5px);
  background-image: -webkit-gradient(linear,left bottom,left top,from(#373737),to(#464646));
  background-image: -webkit-linear-gradient(bottom,#373737,#464646 5px);
  background-image: linear-gradient(bottom,#373737,#464646 5px);
  color: #CCCCCC;
  direction: ltr;
  font: 13px/28px sans-serif;
  height: 28px;
  left: 0;
  min-width: 600px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header h1 {
  text-align: center;
  font-size: 16px;
}

.e3header {
  border: 1px solid #2A2A2A;
  background-color: #464646;
  background-image: -ms-linear-gradient(bottom,#373737,#464646 5px);
  background-image: -moz-linear-gradient(bottom,#373737,#464646 5px);
  background-image: -o-linear-gradient(bottom,#373737,#464646 5px);
  background-image: -webkit-gradient(linear,left bottom,left top,from(#373737),to(#464646));
  background-image: -webkit-linear-gradient(bottom,#373737,#464646 5px);
  background-image: linear-gradient(bottom,#373737,#464646 5px);
  color: #CCCCCC;
  direction: ltr;
  font: 13px/28px sans-serif;
  height: 28px;
  left: 0;
  min-width: 600px;
  position: top; /*fixed;*/
  top: 100;
  width: 100%;
  z-index: 100;
}

.footer {
  text-align: center;
  padding-top: 4px;
  font-size: 13px;
  font-weight: bold;
}

.footer a {
  color: #77b4d9;
  text-decoration: none;
}

.button {
  text-align: center;
  cursor: pointer;
  margin: .5em 5px;
  padding: .6em 25px;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  text-decoration: none;
  border: 1px solid #CCC;
  background: #EEE;
  font-weight: bold;
  color: #444;
  text-shadow: 0 1px 1px #F6F6F6;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));
  background-image: -webkit-linear-gradient(#fdfdfd,#eee);
  background-image: -moz-linear-gradient(#fdfdfd,#eee);
  background-image: -ms-linear-gradient(#fdfdfd,#eee);
  background-image: -o-linear-gradient(#fdfdfd,#eee);
  background-image: linear-gradient(#fdfdfd,#eee);
}

.button:hover {
  background-image: -webkit-linear-gradient(#eee,#ddd);
}

input.nobox {
  width: 100px;
  text-align: right;
  color: #F78623;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  font-size: 16px;
  background: none;
}

.inp01 {
  text-align: left;
  color: #F78623;
  border: 1px solid #DDD;
  font-size: 16px;
  padding: 5px;
  background-color: rgb(250,250,250);
  margin-top: 2px
}

.button04 {
  border: 1px solid #c86106;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #F78623;
  font-weight: bold;
  border-radius: 2px;
  line-height: 18px;
  padding: 0 8px;
  cursor: pointer
}

.button05 {
  border: 1px solid #22a4d9;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #33a4d9;
  font-weight: bold;
  border-radius: 2px;
  line-height: 22px;
  padding: 0 8px;
  cursor: pointer
}

.button05:active {
  background-color: #45abdb;
}

.button06 {
  border: 1px solid #22a4d9;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #33a4d9;
  font-weight: bold;
  border-radius: 2px;
  line-height: 45px;
  padding: 0 16px;
  width: 130px;
  cursor: pointer
}

.buttonlistctrl {
  width : 20px;
  height : 20px;
  border: none;
  color: transparent;
  font-size: 0;
  float: left;
  padding: 0px;
  margin: 3px;
  display: inline;
}

table.catlist {
  width: 100%;
  border: 1px solid #DFDFDF;
  border-radius: 3px 3px 0px 0px;
  margin: 0px;
  border-spacing: 0;
  border-bottom: 0px;
}

table.catlist th {
  border: 0px;
  padding: 5px;
  margin: 0px;
  background-color: #F1F1F1;
  background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
  background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
  background-image: linear-gradient(top,#F9F9F9,#ECECEC);
  border-bottom: 1px solid #DFDFDF;
  border-top: 1px solid #DFDFDF;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

table.catlist td {
  border: 0px;
  padding: 5px;
  margin: 0px;
  line-height: 35px;
  text-align: center;
}

table.catlist tr.d0 td {
  background-color: #f9f9f9;
  border-bottom: 1px solid #DFDFDF;
  border-top: 1px solid #FFFFFF;
}

table.catlist tr.d1 td {
  background-color: #fcfcfc;
  border-bottom: 1px solid #DFDFDF;
  border-top: 1px solid #FFFFFF;
}

table.catlist th:first-of-type {
  border-top-left-radius: 3px;
}

table.catlist th:last-of-type {
  border-top-right-radius: 3px;
}

#message {
  border: 1px solid #22a4d9b;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #33a4d9;
  font-weight: bold;
  line-height: 24px;
  padding: 0 8px;
  cursor: pointer
}

.login-container {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
  font-weight: normal;
  margin-left: 8px;
  padding: 26px 24px 46px;
  max-width: 350px;
  margin-right: 20px;
  font-family: sans-serif;
  font-size: 14px;
  color: #777777;
}

#top-menu {
  display: block;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#top-menu li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #555555;
  float: left;
}

#top-menu li:hover {
  background-color: #3A3A3A;
  background-image: -moz-linear-gradient(center bottom , #3A3A3A, #222222);
  color: #FAFAFA;
}

#top-menu li a {
  display: block;
  height: 28px;
  margin: 0;
  padding: 0 12px;
  border-right: 1px solid #333333;
  text-decoration: none;
  color: #CCCCCC;
  font: 13px/28px sans-serif;
  text-shadow: 0 -1px 0 #444444;
  text-transform: none;
}

#top-menu li:hover > a {
  color: #FAFAFA;
}

#top-menu li:hover > a {
  color: #FAFAFA;
}

#e3top-menu {
  display: block;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

#e3top-menu li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #555555;
  float: left;
}

#e3top-menu li:hover {
  background-color: #3A3A3A;
  background-image: -moz-linear-gradient(center bottom , #3A3A3A, #222222);
  color: #FAFAFA;
}

#e3top-menu li a {
  display: block;
  height: 28px;
  margin: 0;
  padding: 0 12px;
  border-right: 1px solid #333333;
  text-decoration: none;
  color: #CCCCCC;
  font: 13px/28px sans-serif;
  text-shadow: 0 -1px 0 #444444;
  text-transform: none;
}

#e3top-menu li:hover > a {
  color: #FAFAFA;
}

#e3top-menu li:hover > a {
  color: #FAFAFA;
}

#emoncms-logo {
  float: left;
  padding: 2px;
}
.Container-White {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
  margin: 0px;
  padding: 0px;
}

.Container-Grey {
  background: none repeat scroll 0 0 #ddd;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
  margin: 0px;
  padding: 0px;
}

.heading-center {
  font-weight:bold;
  font-size:24px;
  padding-top:20px;
  text-align:center;
}

.feedvalue {
  font-weight:bold;
  font-size:24px;
  padding-top:20px;
  text-align:center;
  color:#4444CC;
}

.heading {
  font-weight:bold;
  font-size:24px;
  padding-top:20px;
}


.greydashmenu {
  display: block;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.greydashmenu li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  border-right: 1px solid #eee;
  float: left;
}

.greydashmenu li a {
  display: block;
  margin: 0;
  padding: 0 12px;
  border-right: 1px solid #ccc;
  text-decoration: none;
  font: 13px/27px sans-serif;
  text-transform: none;
}

#markdown a {
  color: #4183C4; }
#markdown a.absent {
  color: #cc0000; }
#markdown a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
  /*background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;*/
  text-decoration: none; }

h1 tt, h1 code {
  font-size: inherit; }

h2 tt, h2 code {
  font-size: inherit; }

h3 tt, h3 code {
  font-size: inherit; }

h4 tt, h4 code {
  font-size: inherit; }

h5 tt, h5 code {
  font-size: inherit; }

h6 tt, h6 code {
  font-size: inherit; }

h1 {
  font-size: 28px;
  color: black; }

h2 {
  font-size: 24px;
  color: black; }

#markdown h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  color: #777777;
  font-size: 14px; }

#markdown p, #markdown blockquote, #markdown ul, #markdown ol, #markdown dl, #markdown li, #markdown table, #markdown pre {
  margin: 15px 0; }

#markdown hr {
  /*background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;*/
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

h1 p, h2 p, h3 p, h4 p, h5 p, h6 p {
  margin-top: 0; }

li p.first {
  display: inline-block; }

ul, ol {
  padding-left: 30px; }

ul :first-child, ol :first-child {
  margin-top: 0; }

ul :last-child, ol :last-child {
  margin-bottom: 0; }

dl {
  padding: 0; }
  dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    dl dt:first-child {
      padding: 0; }
    dl dt > :first-child {
      margin-top: 0; }
    dl dt > :last-child {
      margin-bottom: 0; }
  dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }

blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  blockquote > :first-child {
    margin-top: 0; }
  blockquote > :last-child {
    margin-bottom: 0; }

#markdown table {
  padding: 0; }
#markdown table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
#markdown table tr:nth-child(2n) {
      background-color: #f8f8f8; }
#markdown table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
#markdown table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
#markdown table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
#markdown table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }

img {
  max-width: 100%; }

span.frame {
  display: block;
  overflow: hidden; }
  span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  span.frame span img {
    display: block;
    float: left; }
  span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  span.align-center span img {
    margin: 0 auto;
    text-align: center; }
span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  span.align-right span img {
    margin: 0;
    text-align: right; }
span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  span.float-left span {
    margin: 13px 0 0; }
span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

code, tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  pre code, pre tt {
    background-color: transparent;
    border: none; }
