.modal-processlist {
    --bs-modal-width: 94%;
}

.modal-processlist .modal-body {
    max-height: none;
    overflow-y: auto;
}

td:nth-of-type(6) {
    text-align: right;
}

#new-feed-tag_autocomplete-list {
    width: 120px
}

.process-header-title {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 5px;
}