Source: emoncms
Section: non-free/web
Priority: optional
Maintainer: Dave McCraw <dave@mccraw.co.uk>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.2

Package: emoncms
Architecture: any
Depends: debconf | debconf-2.0, apache2 | lighttpd | httpd,
  php5, php5-mysql, 
  ${misc:Depends} 
Suggests: mysql-server
Description: The core emoncms webapp.

