pre {
    height:20rem;
    color:#fff;
    background-color:#300a24;
    overflow: scroll;
    overflow-x: hidden;
}
.admin-container {
    max-width: 60rem;
}
#export-log {
    padding-left:20px;
    padding-top:20px;
}
#import-log {
    padding-left:20px;
    padding-top:20px;
}
.border-top{
    border-color: #dee2e6
}
select{
    width: auto;
}
table tr td.buttons { text-align: right;}
table tr td.subinfo { border-color:transparent;}

.bg-success{
    background-color: #D0E9C6;
}
.bg-danger{
    background-color: #EBCCCC;
}
.badge-danger{
    background-color: #DC3545;
}

dl {
    margin: 0
}
dl dt,dl dd{
    border-top: 1px solid #ddd;
    padding: .2em 0;
}
dl dt:first-child, dl dt:first-child + dd,
dl > dl dt:first-child, dl > dl dt:first-child + dd{
    border-top: 0px solid #ddd;
}
dl dd:last-child{
    padding-bottom: 1em;
}
.admin .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
}

.label:empty, .badge:empty {
    display: inline-block;
    padding: 1.2em 0 0 1.2em;
    vertical-align: middle;
}
.caret {
    border-top-color: currentColor!important;
}
.dropdown-menu-right{
    right: 0!important;
    left: initial;
}
dl dt{
  padding-left: .25em;
  box-sizing: border-box;
}
dt:hover, dt:hover + dd{
    background: #F9F9F9;
}
.overflow-hidden {
    overflow: hidden;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@media (min-width: 480px) {
    .dropdown-backdrop {
        display:none!important;
    }
}
