
#footer {
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-fixed-top {
    margin-left: 0px;
    margin-right: 0px;
}

input[type="checkbox"] { margin:0px; }
.controls { margin-bottom:10px; }
#inputs-to-delete { font-style:italic; }

#noprocesses .alert{margin:0;border-bottom-color:#fcf8e3;border-radius: 4px 4px 0 0;padding-right:14px}

@media (min-width: 768px) {
    .modal-wide{
        width:650px;
        margin-left:-325px
    }
}

@media (max-width: 768px) {
    body {padding:0};
}

.node .node-info{
    border-bottom: 1px solid white;
}
.node .node-info,
.node .node-input {
    position: relative;
}
.node .node-info::after,
.node .node-input::after {
    content: '';
    width: .4em;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.1);
}
.buttons{
    padding-right: .4em;
}

.node-info::after,
.node-input::after {
    background: var(--status-color)!important;
}


[data-col] { overflow:hidden; }

[data-col="B"] { width:40px; }
[data-col="A"] { width:200px; }
[data-col="G"] { width:200px; }
[data-col="F"] { width:50px; }
[data-col="E"] { width:100px; }
[data-col="D"] { width:100px; }
[data-col="C"] { width:50px; }
a.text-muted i[class*="icon-"] {
    opacity: .5;
}
#app .accordion {
    margin-bottom: .3rem;
}
.select-mode .node-inputs .node-input {
    cursor: pointer;
}
input.checkbox-lg {
    float: none;
}
input.checkbox-lg,
.select-mode .node-inputs .node-input input[type="checkbox"] {
    transform: scale(1.3);
}
.selected {
    background-color: rgba(68, 179, 226, 0.8) !important;
    background-color: #C2DBFF!important;
}
[v-cloak] {
  display: none;
}
.position-absolute {
    position: absolute;
}

/* overwrite bootstrap collapse animation */

.collapse .node-input {
    height: 0;
    transition-timing-function: cubic-bezier(.18,.89,.32,1.28);
    transition-duration: .6s;
    min-height: 0;
    border-width: 0;
}
.collapse.in .node-input {
    height: auto;
    transition: all .2s cubic-bezier(.23,1,.32,1);
    border-width: 1px;
}
.collapse {
    height: inherit!important;
}
.break-all {
    word-break: break-all;
}
.text-nowrap {
    white-space: nowrap !important;
}
[v-cloak] {
    visibility: hidden
}

/* Moved from input_dialog */

.modal-body .form-group{
    position: relative;
}
.modal-body .form-group .add-on,
.modal-body .form-group input{
    margin-bottom: 0;
    margin-top: .8rem
}
.modal-body .form-group input + label {
    position: absolute;
    transition: all .2s ease-out;
    left: 0.45rem;
    opacity: 0;
    top: 1.1rem;
}
.modal-body .form-group input:focus + label,
.modal-body .form-group input:focus::placeholder{
    color: #5b9bce;
}
.modal-body .form-group label.away{
    font-size: x-small;
    top: -.7em;
    left: .5em;
    opacity: 1;
}
.modal-body form.align-items-center p,
.modal-body form.align-items-center button{
    margin-top: .75rem;
}
.modal-footer::before, .modal-footer::after{
    content: none
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease-out;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.dl-horizontal dt {
    float: left;
}
.dl-horizontal dt.text-right{
    text-align: right 
}
.dl-horizontal dt{
    float: left;
}
.clear-both {
    clear: both!important;
}